<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Swissup_SearchMysqlLegacy" setup_version="0.1.0">
        <sequence>
            <module name="Magento_Catalog"/>
            <module name="Magento_Eav"/>
            <module name="Magento_CatalogSearch"/>
            <module name="Magento_Store"/>
            <module name="Magento_Search"/>
            <module name="Magento_Backend"/>
            <module name="Magento_CatalogInventory"/>
            <module name="Magento_Customer"/>
            <module name="Swissup_Core"/>
        </sequence>
    </module>
</config>
